In [4]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [7]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [5]:
# 2  DataFrame example (locate, index)

import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [22, 27, 22, 32],
    'Salary': [50000, 60000, 55000, 70000]
}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

print("\nDataFrame Example:")
print("Accessing 'Age' column:")
print(df['Age'])

print("\nAccessing row with index 1:")
print(df.loc[1])

print("\nAccessing specific cell (Name of row 2):")
print(df.at[2, 'Name'])
print(df.to_string(index=False))

DataFrame:
      Name  Age  Salary
0    Alice   22   50000
1      Bob   27   60000
2  Charlie   22   55000
3    David   32   70000

DataFrame Example:
Accessing 'Age' column:
0    22
1    27
2    22
3    32
Name: Age, dtype: int64

Accessing row with index 1:
Name        Bob
Age          27
Salary    60000
Name: 1, dtype: object

Accessing specific cell (Name of row 2):
Charlie
   Name  Age  Salary
  Alice   22   50000
    Bob   27   60000
Charlie   22   55000
  David   32   70000

In [15]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())
print("\nHead")
print(df.head(3))

print("\nTail")
print(df.tail(2)) 
print("\nInfo\n")
print(df.info())

      Duration  Pulse  Maxpulse  Calories
0  0        60    110       130       409
1  1        60    117       145       479
2  2        60    103       135       340
3  3        45    109       175       282

Head
      Duration  Pulse  Maxpulse  Calories
0  0        60    110       130       409
1  1        60    117       145       479
2  2        60    103       135       340

Tail
      Duration  Pulse  Maxpulse  Calories
2  2        60    103       135       340
3  3        45    109       175       282

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Duration  Pulse  Maxpulse  Calories  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes
None